*
!.gitignore

!/alacritty
!/alacritty/*

!/awesome
!/awesome/*

!/cargo
!/cargo/*

!/nvim
!/nvim/*

!/psd
!/psd/*

!/starship
!/starship/*

!/sway
!/sway/*

!/waybar
!/waybar/*

!/workstyle
!/workstyle/*

!/wpaperd
!/wpaperd/*

!/zsh
!/zsh/*
